<h4>Recuperar Senha </h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/RecuperarSenha" method="POST">
    <label for="email">Email:</label>
     <input type="email" class="form-control" name="email" required>
   

     <button class="btn btn-success mt-3" type="submit">Enviar </button>
     </form>
    </div>
</div>